.item {
  border: 2px solid rgb(95 97 110);
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4%;
}

.item.left {
  width: 55%;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

.item.right{
  width: 45%;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.container {
  /* border: 2px solid rgb(75 70 74); */
  border-radius: 0.5em;
  box-sizing: border-box;

  place-self: center;
  height: 70vh;
  width: 80vw;

  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
}
